@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Regular";
  src: local("Geist-Regular"),
    url("./assets/fonts/Geist-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Light";
  src: local("Geist-Light"),
    url("./assets/fonts/Geist-Light.otf") format("opentype");
}
@font-face {
  font-family: "Medium";
  src: local("Geist-Medium"),
    url("./assets/fonts/Geist-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Bold";
  src: local("Geist-Bold"),
    url("./assets/fonts/Geist-Bold.otf") format("opentype");
}
